/* h1: 2048 title */
h1 {
	margin-bottom:0;
	text-align:center;
	font-size: 80px;
	font-weight: bold;
	margin: 0;
	display: block;
	align-content: center;
}

/* p: Instruction texts */
p {
	margin-top:10px;
	margin-bottom:20px;
	color: #888;
	text-align:center;
}

body {
	margin: 40px 0; background: #eee;
}


.cell {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	line-height: 150%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
}


.wrapper {
	width: 400px;
	display: grid;
	margin: 0 auto;
	grid-gap: 5px;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(4, 100px);
	grid-auto-flow: row;
}
#legend {
	text-align: center;
}
